<div class="wrapper" id="work-point-page">
  <div class="controller-fields">


    <mat-form-field appearance="outline">
        <mat-label>Journey</mat-label>
        <mat-select [formControl]="journey" (ngModelChange)="updateFields()">
            <mat-option value="4:00">4:00</mat-option>
            <mat-option value="6:00">6:00</mat-option>
            <mat-option value="8:00">8:00</mat-option>
        </mat-select>
    </mat-form-field>



    <button mat-icon-button (click)="clearValues()"><mat-icon>restart_alt</mat-icon></button>


  </div>

  <div class="work-point-container">
     <div class="box">
        <div class="label">1st in</div>
        <input placeholder="00:00" [(ngModel)]="in1" (blur)="updateFields()">
    </div>
    <div class="box grey">
        <div class="label">1st out</div>
        <input placeholder="00:00" [(ngModel)]="out1" (blur)="updateFields()">
    </div>
    <div class="box grey">
        <div class="label">2nd in</div>
        <input placeholder="00:00" [(ngModel)]="in2" (blur)="updateFields()">
    </div>
    <div class="box" [style.color]="colorResult">
        <div class="label">2nd out</div>
        <input [style.color]="colorResult" placeholder="..." [(ngModel)]="out2" disabled>
    </div>
  </div>



</div>
